# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
DownloadedFiles/
NodeAndMongo/SwagShop/SwagShopAPI/node_modules/

Challenges/NodeMongoREST/NodeModuleMastery/node_modules/

Challenges/NodeMongoREST/NodeJSCalculator/node_modules/

BlockChain/
