.Main {
  text-align: center;
}

/* Not needed - removed for last exercise..
.Main-logo {
  animation: Main-logo-spin infinite 20s linear;
  height: 80px;
}
*/

.Main-header {
  height: 120px;
  padding: 20px;
}

.Main-title {
    font-size: 1.5em;
}

.Main-intro {
    font-size: large;
}

.Main-main {
    padding-top: 25px;
}

/* 
    Added from the Skate tutorial 
*/

.imgCenter {
    display: block;
    margin: auto;
}

.sectionLight {
    background-color: #ECEEEF;
    padding: 3rem;
}

.sectionDark {
    background-color: #CCCCCC;
    padding: 2rem;
}

/* Not needed - removed for last exercise..
@keyframes Main-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
