/* Changed to fit in the WishList
.productCard {
    width: 20rem;
}

.productCard img {
    max-height: 15rem;
}
*/

.productCard {
    max-width: 15rem;
}

.productCard img {
    /* To ensure aspect ratio, 
       set the width and height as
       below.
    max-height: 10rem;
    */
    display: block;
    margin: auto;
    padding: 5px;
    width: 100%;
    height: auto;
}

.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 54%;
}
